.DS_Store
/configuration.php
!system/.htaccess
!application/.htaccess
!application/libraries/tcpdf/tools/.htaccess
!lock/.htaccess
!lock/configuration.php
beta/*
uploads/*
!uploads/*/index.html
!application/config/config.php
!application/config/database.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
materials/*
!materials/*/index.html
staff_docs/*
!staff_docs/*/index.html

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
