/*
 * We are hiding the invisible nav outside the screen
 * so we need to avoid the horizontal scroll
 */
body.okayNav-loaded {
  overflow-x: hidden;
}

.okayNav:not(.loaded) {
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.okayNav ul {
    margin: 0px;
    padding: 0px;
}
.okayNav a {
  /* Links general styling */
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
/*.okayNav__nav--visible {
  overflow: hidden;
  white-space: nowrap;
}*/
.okayNav__nav--visible li {
  display: inline-block;
}
.okayNav__nav--visible a {
  /* Link styling for the visible part of the nav */
  display: block;
  transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__nav--visible a:hover {
  color: #546edb;
}
/* Link styling for the off-screen part of the nav */
.okayNav__nav--invisible {
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 70px;
  -webkit-transform-origin: 200px 0;
      -ms-transform-origin: 200px 0;
          transform-origin: 200px 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.okayNav__nav--invisible a {
  background: #fff;
  display: block;
  padding: 15px;
}
.okayNav__nav--invisible.nav-open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
/* Kebab icon */
.okayNav__menu-toggle {
  position: relative;
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  width: 130px;
  height: 20px;
  float: left;
  z-index: 1;
  top: 15px;
  z-index: 999999
}
.okayNav__menu-toggle span {
  display: block;
  position: absolute;
  margin: auto;
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
}
.okayNav__menu-toggle span:nth-child(1) {
  top: 0;
}
.okayNav__menu-toggle span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.okayNav__menu-toggle span:nth-child(3) {
  bottom: 0;
}
.okayNav__menu-toggle.icon--active {
  /* Kebab icon when off-screen nav is open */
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.okayNav__menu-toggle.icon--active span {
  background: #fff;
}
.MenuBox .okayNav ul li a {
    font-size: 12px;
    color: #fff;
    font-family: s-bold;
}

.MenuBox .okayNav  a.okayNav__menu-toggle {
    float: right;
    position: absolute;
    color: #fff;
}
ul.okayNav__nav--invisible.nav-open li a{
    color: #fff;
    padding: 10px;
    background: #ea6228;
}

ul.okayNav__nav--invisible.nav-open {
    border: 1px solid #ea6228;
    border-radius: 0px 0px 5px 5px;
    top: 87px;
}

.MenuBox .dropdown a{
  padding: 15px 24px 15px 11px;
}

ul.okayNav__nav--invisible{
  top: 49px;
  z-index: 999;
  height: auto;
  bottom: unset;
  overflow: auto;
  position: absolute;
  max-height: 380px;
  padding: 0px;
}


.okayNav ul li a{
  font-size: 12px;
  color: #fff;
  padding: 15px;
}


a.okayNav__menu-toggle {
    position: absolute;
    right: 140px;
    top: 53px;
}


